/* blog-section */

.blog-section {
  width: 90%;
  max-width: 600px;
  margin: auto;
}

.sort-by-header {
  text-align: center;
  margin-bottom: 0.5rem;
}

.sort-by-buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.sort-by-buttons button {
  /* padding: 0.5rem; */
  border: 2px solid var(--clr-orange);
  margin: 0 0.5rem;
  width: 4rem;
  height: 2rem;
  border-radius: 5px;
  transition: 0.3s;
}

.sort-by-buttons button:hover {
  color: var(--clr-white);
  background: var(--clr-orange);
}

/* search form */
.search-form {
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
}

.search-form input {
  padding: 0.3rem;
  font-size: 1rem;
}

.search-form button {
  font-size: 1.2rem;
}

/* list */
.list-of-blogs li {
  margin-bottom: 3rem;
}

.list-of-blogs img {
  margin-bottom: 0.5rem;
}

.list-of-blogs p {
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.list-of-blogs a {
  text-decoration: underline;
}

.load-more-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-bottom: 12rem;
}

.load-more-btn-container button {
  border: 2px solid var(--clr-orange);
  /* margin: 0 0.5rem; */
  /* width: 6rem; */
  /* height: 2rem; */
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 5px;
  transition: 0.3s;
}

.load-more-btn-container button:hover {
  color: var(--clr-white);
  background: var(--clr-orange);
}

.all-posts-warning {
  text-align: center;
  background: var(--clr-alert);
}

/* !media */
@media (min-width: 768px) {
  .blog-section {
    max-width: 900px;
  }

  .list-of-blogs {
    padding: 0 1rem;
  }

  .list-of-blogs li {
    display: flex;
    margin-bottom: 1rem;
  }

  .list-of-blogs img {
    width: 300px;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .list-of-blogs div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
    transition: 0.3s;
  }

  .list-of-blogs div:hover {
    box-shadow: inset 600px 0px 50px var(--clr-light-grey);
  }

  .list-of-blogs p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .list-of-blogs a {
    /* margin-top: 2rem; */
  }
}
